<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News  website </title>
        {% endif %}
    </head>
{% import 'macros.html' as macro%}
{% extends 'base.html'%}

    <body>
        
        <!-- Content block -->
        {% block content %}

        <!-- Popular News -->
        <h3> Popular News</h3>
        <ul>
            {{ macro.displayNewsList(popular)}}
        </ul>
        <!-- <h3> Upcoming News </h3>
        <ul>
            {{ macro.displayNewsList(upcoming)}}
        </ul>
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayNewsList(now_showing)}}
        </ul> -->

        {% endblock%}
    </body>
</html>